.notFound{
    height: 100vh;
    background-image: url('../../../images/404page.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}